                        <!-- Start Request Quote -->
                <div class="container-fluid" id="contact-us">
                    <div class="row">
                        <div class="tg-requescallsection">
                            <div class="tg-requescalluppercontent">
                                <span class="tg-bullicon"><i class="lnr lnr-bullhorn"></i></span>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="tg-phonecontent">
                                                    <h3>Free Quote ?</h3>
                                            <div class="tg-description">
                                                <p>You can send us your requirements. we'll review<br>them and get back to you with suitable quote!</p>
                                            </div><a class="tg-btnregular tg-btnrequestacall" href="request-quote">Get Quote</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="tg-requestcallcontent">
                                    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    #mc_embed_signup{ clear:left; font-size: 14px; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="https://etrafficwebexpert.us16.list-manage.com/subscribe/post?u=469bff3b8606d8794cc64a1ea&amp;id=eb6005bf8c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL" class="mialchimp-head">Subscribe to our mailing list</label>
    <input class="mailchimp-form" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_469bff3b8606d8794cc64a1ea_eb6005bf8c" tabindex="-1" value=""></div>
    <div class="clear"><input class="mailchimp-btn"type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
    </form>
    </div>

<!--End mc_embed_signup-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--End Request Quote -->
            <!-- START FOOTER -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <!-- CATEGORIES WIDGET -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="widget">
                                <h6 class="text-uppercase bottom-line">About Us</h6>
								<p>We are a team of experienced programmers that will work for you to provide you with your dream results for your business.</p>
                                <ul class="social-icons social-icons-simple">
                                    <li><a target="_blank" href="https://www.facebook.com/eTrafficWeb/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/company/etraffic-webexpert"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
                            </div>
                        </div>
                        <!-- CATEGORIES WIDGET -->



                        <!-- CONTACT WIDGET -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="widget">
                                <h6 class="text-uppercase bottom-line">Contact Us</h6>
                                <address>
                                    <p>
                                    <span class="lnr lnr-apartment"></span>SCF 8,Second Floor,Sarojini Colony,Yamuna Nagar 135001
                                    </p>
                                    <p>
                                    <span class="lnr lnr-phone-handset"></span> <a href="tel:01732232396">01732-232396</a>
									</p>
									 <p>
                                    <span class="lnr lnr-phone-handset"></span> <a href="tel:+917206927611">+91-7206927611</a>
									</p>
                                    <p>
                                    <span class="lnr lnr-envelope"></span><a href="mailto:info@etrafficwebexpert.com">info@etrafficwebexpert.com</a>
                                    </p>
                               
                                </address>
                            </div>
                        </div>
                        <!-- END CONTACT WIDGET -->
                        <!-- CONTACT WIDGET -->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="widget map-widget">
                                <h6 class="text-uppercase bottom-line">location</h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d215.6588293314798!2d77.2768652!3d30.1359374!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ef97876977801%3A0x126de9afb14d647f!2sEtraffic+Webexpert!5e0!3m2!1sen!2sin!4v1530356634661" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <!-- END CONTACT WIDGET -->


                    </div>

                    <!-- CONTACT WIDGET -->
                    <div class="copyright">
                        <div class="text-center">
                            <p>etrafficwebexpert © 2018 All Rights Reserved</p>
                        </div>
                    </div>

                </div>
            </footer>
            <!-- END FOOTER-->     

        </div>

        <!-- JQUERY LIBS -->
        <%= javascript_include_tag "jquery.min" %>
        <!-- BOOTSTRAP -->
        <%= javascript_include_tag "bootstrap.min" %>
        <!-- OWL CAROUSEL -->
        <%= javascript_include_tag "owl.carousel.min" %>
        <!-- COUNTER UP -->
        <%= javascript_include_tag "jquery.counterup.min" %>
        <!-- WAYPOINTS -->
        <%= javascript_include_tag "waypoints.min" %>
        <!-- FLEXSLIDER -->
        <%= javascript_include_tag "jquery.flexslider-min" %>
        <!-- MAGNIFIC POPUP-->
        <%= javascript_include_tag "jquery.magnific-popup.min" %>
        <!-- MAGNIFIC POPUP  -->
        <%= javascript_include_tag "magnific-popup.min" %>
        <!-- CUBE PORTFOLIO -->
        <%= javascript_include_tag "jquery.cubeportfolio.min" %>
        <!-- CUBE COMMON -->
        <script type="text/javascript" src="js\cubeportfolio\cubeportfolio-common.js"></script>
        <!-- CUSTOM-->
        <%= javascript_include_tag "custom" %>
        <%= javascript_include_tag "jquery.mmenu" %>
        <script>
            $(document).ready(function() {
                $('#menu').mmenu({
                    classes: 'mm-light'
                });
            });
        </script>

        <!--[if lt IE 9]>
        <script src="respond.js"></script>
        <script src="html5shiv.js"></script>
        <![endif]-->
        