        <title>Etraffic Webexpert - we create your mind</title>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Etraffic Webexpert - Web Design Development & SEO Services India">
        <meta name="author" content="Etraffic">
        <!-- FAVICON -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- BOOTSTRAP -->
        <%= stylesheet_link_tag "jquery.mmenu" %>
        <%= stylesheet_link_tag "bootstrap.min" %>
        <!-- FONT AWESOME -->
        <%= stylesheet_link_tag "font-awesome.min" %>
        <!-- HEADER 1 -->
        <%= stylesheet_link_tag "header-1" %>
        <!-- FOOTER 1 -->
        <%= stylesheet_link_tag "footer-1" %>
        <!-- ANIMATE -->
        <%= stylesheet_link_tag "animate" %>
        <!-- MAGNIFIC POPUP -->
        <%= stylesheet_link_tag "magnific-popup" %>
        <!-- FLEXSLIDER -->
        <%= stylesheet_link_tag "jquery.mmenu" %>
        <link rel="stylesheet" href="plugins/FlexSlider/jquery.flexslider.css">
        <!--  OWL CAROUSEL -->
        <%= stylesheet_link_tag "jquery.mmenu" %>
        <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.css">
        <!-- OWL CAROUSEL THEME -->
        <%= stylesheet_link_tag "jquery.mmenu" %>
        <link rel="stylesheet" href="plugins/owl-carousel/owl.theme.css">
        <!-- CUBE PORTFOLIO -->
        <%= stylesheet_link_tag "cubeportfolio.min" %>
        <!--  STYLE -->
        <%= stylesheet_link_tag "style" %>
        <!-- Linear icons -->
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <!-- WEB FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
		
		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/594a29b2e9c6d324a47368a1/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->
    </head>
    <body>
        <!-- Site Wraper -->
        <div class="wrapper">
<!-- Start Announcement bar-->
<div class="navbar-grey ">
    <div class="container">
<p>We are happy to help you to meet your custom needs at reasonable price.<span class="announcement-skin"><a href="request-quote.php" class="anouncemt-btn">Get Free Quote</a></span></p>
</div>
</div>
<!-- End Announcement bar-->
            <!-- Start Header-->
            <div class="header sticky-header">
                <!-- Navbar -->
                <div class="navbar navbar-default mega-menu" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle mobile display -->
                        <div class="navbar-header">
                            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="fa fa-bars"></span>
                            </button> -->

                        <div id="menu">
                            <ul class="">
                                <li class="">
                                    <a href="/about">
                                        About Us
                                    </a>
                                </li>
                                <li class="mega-menu-fullwidth">
                                    <a href="">
                                        Services
                                    </a>
                                    <ul>
                                        <li><a href="">Ecommerce</a>
                                        <ul>
                                            <li><a href="shopify" >Shopify</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">BigCommerce</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Squarespace</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Magento</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Neto</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Prestashop</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Wix</a></li>
                                        </ul>
                                        </li>
                                        <li><a href="">Web Development</a>
                                        <ul>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Laravel</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">YII</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Codeigniter</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Cakephp</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Python</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Django</a></li>
                                            <li><a href="wordpress" style="cursor: default;">Wordpress</a></li>
                                        </ul>
                                        </li>
                                        <li><a href="">Web Design></a>
                                       <ul>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Logo Design</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Graphic Design</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Responsive Design</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Website Redesign</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Landing Pages</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Parallax Design</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Email Templates</a></li>
                                       </ul>
                                       </li>
                                        <li><a href="">others</a>
                                        <ul>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Shopify Apps</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Ruby on rails</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Ionic 2</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Angular Js</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Node Js</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">React JS</a></li>
                                            <li><a href="javascript:void(0);" style="cursor: default;">Vue JS</a></li>
                                        </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="/portfolio" >
                                        Portfolio
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/contact-us" >
                                        contact us
                                    </a>
                                </li>


                            </ul>
                        </div>

                            <a class="mobile-menu-bar" href="#menu"><span class="fa fa-bars"></span></a>
                            <a class="navbar-brand" href="/">
                                <img id="logo-header" src="logo.jpg" alt="Logo" width="220" height="51">
                            </a>
                        </div>

                        <!-- Nav links-->
                        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                <!-- Home -->
                                <!-- Pages -->
                                
                                <!-- End Pages -->

                                <!-- Pages -->
                                <li class="">
                                    <a href="about">
                                        About Us
                                    </a>
                                </li>
                                <!-- End Pages -->

                                <!-- Shortcodes -->
                                <li class="dropdown mega-menu-fullwidth">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                        Services
                                    </a>
                                    <ul class="dropdown-menu ">
                                        <li>
                                            <div class="menu-content icons-disable">
                                                <div class="container">
                                                    <div class="row cv-menu-col-body">
                                                        <div class="col-md-3 cv-menu-col">
                                                            <ul class="list-unstyled cv-menu-list">
                                                               <li><h3>Ecommerce</h3></li>
                                                                <li><a href="shopify" >Shopify</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">BigCommerce</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Squarespace</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Magento</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Neto</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Prestashop</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Wix</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 cv-menu-col">
                                                            <ul class="list-unstyled cv-menu-list">
                                                               <li><h3>Web Development</h3></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Laravel</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">YII</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Codeigniter</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Cakephp</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Python</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Django</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Wordpress</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 cv-menu-col">
                                                            <ul class="list-unstyled cv-menu-list">
                                                               <li><h3>Web Design</h3></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Logo Design</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Graphic Design</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Responsive Design</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Website Redesign</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Landing Pages</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Parallax Design</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Email Templates</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 cv-menu-col">
                                                            <ul class="list-unstyled cv-menu-list">
                                                               <li><h3>others</h3></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Shopify Apps</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Ruby on rails</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Ionic 2</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Angular Js</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Node Js</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">React JS</a></li>
                                                                <li><a href="javascript:void(0);" style="cursor: default;">Vue JS</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <!-- End Shortcodes -->

                                <!-- Pages -->
                                <li class="">
                                    <a href="portfolio" >
                                        Portfolio
                                    </a>
                                </li>
                                <!-- End Pages -->

                                                    <!-- Pages -->
                                <li class="">
                                    <a href="contact-us" >
                                        contact us
                                    </a>
                                </li>
                                <!-- End Pages -->

            <!--                     <li class="designing-a-training">
                                    <a href="training" >
                                        TRAINING
                                    </a>

                                </li> -->


                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Navbar -->
            </div>
            <!-- End Header -->
