<!DOCTYPE html>
<html>
  <head>
    <title>Etraffic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <title>Etraffic Webexpert - we create your mind</title>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Etraffic Webexpert - Web Design Development & SEO Services India">
        <meta name="author" content="Etraffic">
        <!-- FAVICON -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- BOOTSTRAP -->
        <%= stylesheet_link_tag "jquery.mmenu" %>
        <%= stylesheet_link_tag "bootstrap.min" %>
        <!-- FONT AWESOME -->
        <%= stylesheet_link_tag "font-awesome.min" %>
        <!-- HEADER 1 -->
        <%= stylesheet_link_tag "header-1" %>
        <!-- FOOTER 1 -->
        <%= stylesheet_link_tag "footer-1" %>
        <!-- ANIMATE -->
        <%= stylesheet_link_tag "animate" %>
        <!-- MAGNIFIC POPUP -->
        <%= stylesheet_link_tag "magnific-popup" %>
        <!-- FLEXSLIDER -->
        <%= stylesheet_link_tag "jquery.flexslider" %>
        <!--  OWL CAROUSEL -->
        <%= stylesheet_link_tag "owl.carousel" %>
        <!-- OWL CAROUSEL THEME -->
        <link rel="stylesheet" href="plugins/owl-carousel/owl.theme.css">
        <!-- CUBE PORTFOLIO -->
        <%= stylesheet_link_tag "cubeportfolio.min" %>
        <!--  STYLE -->
        <%= stylesheet_link_tag "style" %>
        <!-- Linear icons -->
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <!-- WEB FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
		
		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/594a29b2e9c6d324a47368a1/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->
        
  </head>
  <body>
  	 <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html>
